openapi: 3.0.0
info:
  title: PNZ API Centre Sandbox
  version: 1.0.0
  description: >-
    API Centre Sandbox Postman Collection Version: 2.8.0


    This Postman collection is designed to support your development against the
    [Payments NZ API Centre
    sandbox](https://developer.apicentre.middleware.co.nz). The sandbox, powered
    by [Glueware](https://glueware.co.nz), is a dedicated environment that
    mimics an API Provider, as defined in the [Payments NZ API Centre
    standards](https://paymentsnz.atlassian.net/wiki/spaces/PaymentsNZAPIStandards/overview).


    ## Getting Started


    Before you run any Sandbox requests, you will need to do the following:


    1. Register an application in the
    [Sandbox](https://developer.apicentre.middleware.co.nz/)
        
    2. Set or update the following variables in the collection to reflect this
    registered application:
        
        1. `e_clientId` - The client ID assigned when you registered your client application on the Sandbox Developer Portal. The collection assumes this client has scopes `openid accounts payments` and account access consents permissions (e.g. `ReadOffers`, `ReadScheduledPaymentsBasic`, etc.).
            
        2. `e_thirdPartyRedirectUri` - One of the callback URIs registered for your client application. Example: `http://localhost`
            
        3. `e_clientKid` - The key ID (KID) for the public key.
            
        4. `e_clientPrivateKey` - The private key associated with the public key. (Single line format, no newline/escape characters.) Example: `-----BEGIN RSA PRIVATE KEY-----MIIEpA...5KTA==-----END RSA PRIVATE KEY-----`
            
        5. `e_apiVersion` - The PNZ API Centre Standards version you wish to use. Example: `v2.3`
            
        6. Note: There are many other variables defined in the collection, but these should already be set-up for the Sandbox or will be set to appropriate values as you run through the collection.
            
    3. Test your setup by sending the following requests:
        
        1. `01.1 - Well-Known OpenID Configuration` to confirm connectivity with the sandbox endpoints.
            
        2. `03.1 - Get Customers and Accounts` to confirm your keys are set up correctly. (Most failures at this stage are likely due to a mismatch between what is configured in Postman and what is registered on the Sandbox, or invalid signing keys)
            
    4. Review the response from `03.1 - Get Customers and Accounts` as this is
    your set of customers and their accounts for you to use when testing with
    the sandbox. These customers and accounts are not shared with any other
    applications.
        

    ## Folders


    The collection includes a number of folders.


    Folders beginning with `OIDC` include endpoints that are defined in the Open
    ID Connect suite of standards, on which the PNZ API Centre Security Profile
    is based.


    Folders beginning with `PNZ` include endpoints defined in the PNZ API Centre
    NZ Banking Data API specification, as well as the Account Information,
    Payment Initiation and Event Notification APIs.


    Folders beginning with `Sandbox` include endpoints that are NOT defined in
    the PNZ API Centre standards. They are utilities for Third Parties to
    retrieve and manipulate their test data in the sandbox.


    ## Variables


    The collection uses three types of variables - collection variables,
    environment variables and temporary variables. Collection variables are URLs
    or constants that you should never change. The environment variables are the
    variables you can personalise for your application. The temporary variables
    are created as you step through the requests and are cleaned up using the
    request in the Collection Utilities folder.


    Naming conventions for variables are as follows:


    `x_variableName`


    Where x is one of


    - `c` indicates the variable is a collection variable. You should not have
    to change these values.
        
    - `e` indicates the variable is an environment variable. You should set
    these values for your local instance of postman.
        
    - `t` indicates the variable is a temporary variable. These values will be
    set as you run through the collection.
        

    e.g.`c_host`, `e_clientId`, `t_clientCredentialsAccessToken`


    To view the current state of a temporary or environment variable, click on
    the environment quick look button. To view the current state of a collection
    variable, edit the collection and click on the Variables tab.


    ## Getting Help


    This collection is provided by Middleware New Zealand (MWNZ), the provider
    of the Payments NZ API Centre Sandbox. If you have any questions or issues,
    please contact us at
    [apicentre@middleware.co.nz](https://mailto:apicentre@middleware.co.nz).
servers:
  - url: https://api-nomatls.apicentre.middleware.co.nz
  - url: https://obep-sandbox.glueware.dev
  - url: '{{t_loginAppLocation}}'
  - url: '{{t_loginApp}}'
paths:
  /.well-known/openid-configuration:
    get:
      summary: 01.1 - Well-Known OpenID Configuration
      responses:
        '200':
          description: Example
          headers:
            x-fapi-interaction-id:
              schema:
                type: string
              example: e3a36807-0cc7-4e9c-a002-eb16b2674055
            Content-Length:
              schema:
                type: integer
              example: 2133
          content:
            application/json:
              schema:
                type: object
                properties:
                  issuer:
                    type: string
                    format: uri
                  authorization_endpoint:
                    type: string
                    format: uri
                  token_endpoint:
                    type: string
                    format: uri
                  introspection_endpoint:
                    type: string
                    format: uri
                  revocation_endpoint:
                    type: string
                    format: uri
                  backchannel_authentication_endpoint:
                    type: string
                    format: uri
                  jwks_uri:
                    type: string
                    format: uri
                  userinfo_endpoint:
                    type: string
                    format: uri
                  pushed_authorization_request_endpoint:
                    type: string
                    format: uri
                  code_challenge_methods_supported:
                    type: array
                    items:
                      type: string
                  request_parameter_supported:
                    type: boolean
                  claims_parameter_supported:
                    type: boolean
                  request_uri_parameter_supported:
                    type: boolean
                  require_request_uri_registration:
                    type: boolean
                  scopes_supported:
                    type: array
                    items:
                      type: string
                  response_types_supported:
                    type: array
                    items:
                      type: string
                  response_modes_supported:
                    type: array
                    items:
                      type: string
                  grant_types_supported:
                    type: array
                    items:
                      type: string
                  require_pushed_authorization_requests:
                    type: boolean
                  subject_types_supported:
                    type: array
                    items:
                      type: string
                  tls_client_certificate_bound_access_tokens:
                    type: boolean
                  require_signed_request_object:
                    type: boolean
                  claims_supported:
                    type: array
                    items:
                      type: string
                  authorization_endpoint_request:
                    type: array
                    items:
                      type: string
                  token_endpoint_auth_methods_supported:
                    type: array
                    items:
                      type: string
                  introspection_endpoint_auth_methods_supported:
                    type: array
                    items:
                      type: string
                  backchannel_token_delivery_modes_supported:
                    type: array
                    items:
                      type: string
                  id_token_signing_alg_values_supported:
                    type: array
                    items:
                      type: string
                  token_endpoint_auth_signing_alg_values_supported:
                    type: array
                    items:
                      type: string
                  introspection_endpoint_auth_signing_alg_values_supported:
                    type: array
                    items:
                      type: string
                  request_object_signing_alg_values_supported:
                    type: array
                    items:
                      type: string
                  backchannel_authentication_request_signing_alg_values_supported:
                    type: array
                    items:
                      type: string
              example:
                issuer: https://api-nomatls.apicentre.middleware.co.nz/
                authorization_endpoint: >-
                  https://api-nomatls.apicentre.middleware.co.nz/oauth/v2.0/authorize
                token_endpoint: >-
                  https://api-nomatls.apicentre.middleware.co.nz/oauth/v2.0/token
                introspection_endpoint: >-
                  https://api-nomatls.apicentre.middleware.co.nz/oauth/v2.0/introspect
                revocation_endpoint: >-
                  https://api-nomatls.apicentre.middleware.co.nz/oauth/v2.0/revoke
                backchannel_authentication_endpoint: >-
                  https://api-nomatls.apicentre.middleware.co.nz/oauth/v2.0/bc-authorize
                jwks_uri: https://api-nomatls.apicentre.middleware.co.nz/oauth/v2.0/keys
                userinfo_endpoint: >-
                  https://api-nomatls.apicentre.middleware.co.nz/oauth/v2.0/userinfo
                pushed_authorization_request_endpoint: https://api-nomatls.apicentre.middleware.co.nz/oauth/v2.0/par
                code_challenge_methods_supported:
                  - S256
                request_parameter_supported: true
                claims_parameter_supported: true
                request_uri_parameter_supported: true
                require_request_uri_registration: false
                scopes_supported:
                  - openid
                  - accounts
                  - payments
                response_types_supported:
                  - code id_token
                  - code
                response_modes_supported:
                  - query
                  - fragment
                  - jwt
                grant_types_supported:
                  - authorization_code
                  - refresh_token
                  - client_credentials
                  - urn:openid:params:grant-type:ciba
                require_pushed_authorization_requests: false
                subject_types_supported:
                  - pairwise
                tls_client_certificate_bound_access_tokens: true
                require_signed_request_object: true
                claims_supported:
                  - ConsentId
                  - acr
                  - sub
                  - >-
                    https://www.apicentre.paymentsnz.co.nz/refresh_token_expires_at
                  - auth_time
                authorization_endpoint_request:
                  - login_hint_token
                  - id_token_hint
                token_endpoint_auth_methods_supported:
                  - private_key_jwt
                introspection_endpoint_auth_methods_supported:
                  - private_key_jwt
                backchannel_token_delivery_modes_supported:
                  - poll
                id_token_signing_alg_values_supported:
                  - PS512
                token_endpoint_auth_signing_alg_values_supported:
                  - PS512
                introspection_endpoint_auth_signing_alg_values_supported:
                  - PS512
                request_object_signing_alg_values_supported:
                  - PS512
                backchannel_authentication_request_signing_alg_values_supported:
                  - PS512
      tags:
        - 01 - OIDC Discovery
      description: >+
        This is the first step in interacting with an API Provider.


        This request retrieves a set of metadata which provides the Third Party
        with configuration details about the API Provider's OpenID Provider /
        Authorization Server (AS), such as the location of the /authorize
        endpoint or whether or not optional features in the Security Profile are
        supported by the API Provider.


        PNZ API Centre: For some versions of the [PNZ API Centre Security
        Profile](https://paymentsnz.atlassian.net/wiki/spaces/PaymentsNZAPIStandards/pages/1680441658/Security+Profile),
        such as
        [v3.0.0](https://paymentsnz.atlassian.net/wiki/spaces/PaymentsNZAPIStandards/pages/1680479247/Authorization+Server+Metadata+v3.0.0),
        a detailed definition of the Authorization Server Metadata is available.

  /oauth/v2.0/keys:
    get:
      summary: 01.2 - JWKs
      responses:
        '200':
          description: Example
          headers:
            x-fapi-interaction-id:
              schema:
                type: string
              example: bc8a04a5-1b54-4ac5-90b1-28102d3c6f47
            Content-Length:
              schema:
                type: integer
              example: 2813
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    items:
                      type: object
                      properties:
                        kid:
                          type: string
                        kty:
                          type: string
                        alg:
                          type: string
                        use:
                          type: string
                        'n':
                          type: string
                        e:
                          type: string
              example:
                keys:
                  - kid: b1e527c2-03d5-4ab8-9008-8f32c7e1defc
                    kty: RSA
                    alg: PS512
                    use: sig
                    'n': >-
                      0Bm3o_sseoAl4bkzIuAcKk0sRtx4Jln6lWzSnrYCZo-GwZQkaFdwWaNurLtM3dOyurK5tZGvEGLou781dzwX5VjEMYf-qP3lPpqjvQcSfi-5FVJ74UkeKAUz4NbTDVKnpnF8BnhQcWZ0FMtluhCyIpPDVjMm_rLT7KiNNr4pNEHepTEgWSKTQDR09KOGGob8ZzDLGXKwxDsEEERu3mJn2xzHO10W0hkDM8dnGm5exAplElABY89EIObQbosIgyKoiT7jqXh8MwTqFuGzvybS7jItwqQJCqBUq6IBKwDIXH8Mz-9LgVp6dFaS2od2OWD8y38-a4SkAwjPdog21vBU28lj2lkqAcP3tGUFEykh2jPNaa44qQnH_-AaVtfBDy_q93SO1ZlriyCSgSrAKDploxXf0DMqzjKuKJaUN_5IBvOhFpJoFpENQ9yK26Ffb_fYUv65ZDpnWJvxj_mxSL4tvLpD4RO7GgExXSz3C99zeerwOULe7_1JRwm6YEXLLCGhTXBCUTT_LWeRCsSDvc6TAj1oHkIO7b1Xra1jUNHcE-nkcln2kCpA8j3v-sWTPyvxBA1m94_7vSHr3BAmgv8ZWKJHAuvffGZlICsdCm6Vl8ahgWxDqWR6a4LmMY6kGCVUwDyG1n4Azlmw3wuIW95a4npBHDOLrwA13JYehlXmr6s
                    e: AQAB
                  - kid: 42e99bca-d8ab-51c9-9d35-26b4097443c8
                    kty: RSA
                    alg: PS256
                    use: sig
                    'n': >-
                      xggweFdiOkmGkTJOzsMJ4zIyBnavxgAzTkoqfN5vFWks_FqrjIsV0hC4etQ-QYtXCY75peaHoWzUEtH6-VsXQB0np8Skjl8ho7pErxY7ClpSaXn46bowXeKTkCcu5UVpUPfP7xwc1068a6_EEYB1eWTb8Nox-ixG94nG9j8d6bii4LwqiQc0W7yyOwMWTs5sgJYKTDQjJ1f7JNa1mtpCfGaTwhjvaUxa55jXND27PWiJsnHo2IbaOB_gEa2lbs8whf6DdcxYceNKti0bFjMA73C5v879bMsu99iUnDx3QEsjSuhN_h5Nf3PnRxK45SWBDmrYIka7Zpi9rUVXCBbS6Q
                    e: AQAB
                  - kid: fdc03fbe-a190-41ee-b496-a584f3f4a6d2
                    kty: RSA
                    alg: PS512
                    use: sig
                    'n': >-
                      sHIdqvVL0uGds-YuEvE9S86LSjVsHqpVuZPrjZmQiNLFpcwidSG8p-YpHayC66y8Lj4w6LeBZzRxN1ypUbo2YhEuYIuRmRDxQ2yCnoeyXmVbeyP7UFw_C8p-Y_GlPrUuTlNseqDjvkHW2_pzpMQLPE5z12fB75RKrnQ0M37TYdfDnUMv-Q1F3kJB0oKGay7zOJU-kauLOhEXEBAgHP3LEoMIn7XQrRWJ0sVqf73h6If64S1hpsE0bZUwIcPJIJ6bcq6JbMnSKleT0g7ru6c28H_rQ8fxOj0CgGCKlsV20pyhgXDkcoXJtBecxbztdnxpBErCy9PEZXGIuxHotzF66qPku4d3_OqCLAvmrmc5q5Yq6srWrzV9xll2Bvpm26HWPbIflpg_sO2-D-xWUdmJtgptA35DSuWXiu8Gs8umpnMasH0GxnMgOinj6_sQ0pSr7RzbAImzuQt2ZYpfCb78in4GOrq2_jyJjO-QPS_9ntXqVCVU_BrgRLNeOj6YmVKqQFP_fufneoCh4EFZUO9s4wL3d3eAaKK30fRXoqacu9dC5SciyIDkXB2Hy8PV3YHbwHPDbpi1I9z70Viyof2StV9sJogwxA-RrgMMe-j3RkSwwH4SD12Ff0_AeFMhDdSeSK9FDDoe3m2bjebyP0t_Y6jzTQS2EURs4qcR55h7MAs
                    e: AQAB
                  - kid: a8ffbbeb-2073-40b0-88c7-4337a41783ae
                    kty: RSA
                    alg: PS512
                    use: sig
                    'n': >-
                      qUkkmnAaWlsWsIceQVyWk3EFCEnlmPlT-DkCaG4MbJ9OPRq9FuQK2HqC1Cpy75Vak-5C_s3jngHibS7Wx3cZhcK5ZssuwFUtM7EQZ46lYNIKiV2GDul7Ib-qxKacvaLFzsnEyrM-dNyJOZgaKFlkLoN4Get_5lpIqFva8hjFgLC2O-31ZY_uqH4HZuEFEZ6RsRkWhr3L14rQgV_Jf8tCoPiYC03dqfoMn7_y_kc0vvITQe2Pid4b1W8ilC784gFmjmjAGYTkIWHz5fBStX3fz8CyKzA_A0Oxs3Y9KAcvDrb51hRw-pcR1hmr1CigRs1PG4ArYoJa_m3UkO5iNib-OD9eT-Oc78dASb6PR0NmR6o_rwLTO55OC4a0U5PAdPZTo5nV7eIbFljJc2SpntW-vSlh-Dyigxk0bx7RK2ob9T3oQfTTE0N9VV4HM7cISB5abC7weLAUw-cD25-tAmtcebKJ5hP5F1y1phf3mU09-z0rgtaeH1nCZYrT0otO4Fo_eOwrbL7-LpHcYmkaDspeCGiQmBbdyyCzIrRm-248BGm7SZMDxWMM6DSk1PD-STFyXFbWsemqsmlr3quL8QXBfmJs-q-rm4wDcRD8efJDd9b6eVrLaiafZ1nxcfv9Al-WuKyuWh2b2CyhYJcNHwwfghWHK_ZcaWx4Tdbp7ZUd4ms
                    e: AQAB
      tags:
        - 01 - OIDC Discovery
      description: >+
        This request retrieves a set of JSON Web Keys from the API Provider. One
        or more of the keys included in the response are needed to verify
        signatures on responses / requests from the API Provider, such as
        id_tokens and event notifications.

  /middleware-nz-sandbox/v2.0/data/info/customers:
    get:
      summary: 03.1 - Get Customers and Accounts
      responses: {}
      tags:
        - 03 - Sandbox Users and Accounts
      security:
        - BearerAuth: []
      description: >-
        Gets the complete list of Users, Customers, Accounts and other metadata
        required for authenticating to the Sandbox.


        The metadata returned by this endpoint will be used to generate login
        hint tokens, authenticate as a mock customer, and account IDs that can
        be associated with an authorised consent.


        This pre-request script of this Postman request will initiate a signing
        library, which is used for signing a client assertion JWT that will
        authenticate this request and the Third Party application against the
        authorization server


        (See also [Section 9 of
        OIDC](https://openid.net/specs/openid-connect-core-1_0.html) regarding
        `private_key_jwt` client authentication)


        The pre-request script will then make an API request to the
        `/oauth/v2.0/token` endpoint to retrieve an access token that will be
        used to authenticate to the
        `/middleware-nz-sandbox/v2.0/data/info/customers` API.


        The `/middleware-nz-sandbox/v2.0/data/info/customers`, and other Sandbox
        APIs, will all be equally protected by this `private_key_jwt`
        authenticated API security mechanism.


        For more breakdown of the logic behind this authentication mechanism,
        view the pre-request script of `04.1.1 - Retrieve Client Credentials
        Token`
  /oauth/v2.0/token:
    post:
      summary: 04.1.1 - Retrieve Client Credentials Token
      responses:
        '200':
          description: Example
          headers:
            x-fapi-interaction-id:
              schema:
                type: string
              example: 70c51e04-ab14-46a9-b732-d05ce1d890c1
            Content-Length:
              schema:
                type: integer
              example: 123
          content:
            application/json:
              schema:
                type: object
                properties:
                  token_type:
                    type: string
                  expires_in:
                    type: integer
                  access_token:
                    type: string
              example:
                token_type: Bearer
                expires_in: 3599
                access_token: >-
                  ac736e21bbb8432d9743627f2651672cf9046f4c3cb94d60960f90a792b5fdf3
      tags:
        - 04 - PNZ Consents
        - 04.1 - Create Consent
      description: >+
        This request allows a Third Party to obtain an access token using the
        client credentials grant.


        The pre-request script creates the variable `t_clientAssertionJwt`,
        which is sent in the request body.


        **Preconditions**:


        This request relies on `e_clientId`, `e_clientPrivateKey`and
        `e_clientKid`variables being defined correctly in the collection or
        environment.


        **Troubleshooting**:


        - The most likely cause of errors is incorrect variable values. Confirm
        the precondition variable values are correct and consistent with what is
        registered in the Sandbox.

        - Another cause of errors might be a mismatch between the scopes - this
        request assumes your application has been registered for all scopes
        (e.g. openid accounts payments).
            
        - Another source of errors could be any changes you might have made to
        other variable values.

  /open-banking-nz/{e_apiVersion}/account-access-consents:
    post:
      summary: 04.1.2A - Create Account Access Consent
      responses:
        '201':
          description: Example
          headers:
            x-fapi-interaction-id:
              schema:
                type: string
              example: 9ebc2f6a-084c-4a71-82de-b07f87dca749
            location:
              schema:
                type: string
              example: >-
                https://api-nomatls.apicentre.middleware.co.nz/open-banking-nz/v2.3/account-access-consents/aac_68c20f9b1bb02300231affaa
            Content-Length:
              schema:
                type: integer
              example: 1384
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Consent:
                        type: object
                        properties:
                          TransactionToDateTime:
                            type: string
                            format: date-time
                          ExpirationDateTime:
                            type: string
                            format: date-time
                          Permissions:
                            type: array
                            items:
                              type: string
                          TransactionFromDateTime:
                            type: string
                            format: date-time
                      Status:
                        type: string
                      StatusUpdateDateTime:
                        type: string
                        format: date-time
                      CreationDateTime:
                        type: string
                        format: date-time
                      ConsentId:
                        type: string
                  Risk:
                    type: object
                    properties:
                      EndUserAppName:
                        type: string
                      EndUserAppVersion:
                        type: string
                      PaymentContextCode:
                        type: string
                      MerchantName:
                        type: string
                      MerchantNZBN:
                        type: string
                        format: utc-millisec
                      MerchantCategoryCode:
                        type: string
                        format: utc-millisec
                      MerchantCustomerIdentification:
                        type: string
                        format: utc-millisec
                      GeoLocation:
                        type: object
                        properties:
                          Latitude:
                            type: string
                          Longitude:
                            type: string
                      DeliveryAddress:
                        type: object
                        properties:
                          AddressType:
                            type: string
                          AddressLine:
                            type: array
                            items:
                              type: string
                          StreetName:
                            type: string
                          BuildingNumber:
                            type: string
                            format: color
                          PostCode:
                            type: string
                            format: utc-millisec
                          TownName:
                            type: string
                          CountrySubDivision:
                            type: string
                          Country:
                            type: string
                  Links:
                    type: object
                    properties:
                      Self:
                        type: string
                        format: uri
                  Meta:
                    type: object
              example:
                Data:
                  Consent:
                    TransactionToDateTime: '2050-05-08T00:00:00.000Z'
                    ExpirationDateTime: '2025-09-12T23:53:58.918Z'
                    Permissions:
                      - ReadAccountsDetail
                      - ReadBalances
                      - ReadBeneficiariesDetail
                      - ReadDirectDebits
                      - ReadParty
                      - ReadPartyAuthUser
                      - ReadOffers
                      - ReadScheduledPaymentsDetail
                      - ReadStandingOrdersDetail
                      - ReadStatementsBasic
                      - ReadStatementsDetail
                      - ReadTransactionsDetail
                      - ReadTransactionsCredits
                      - ReadTransactionsDebits
                    TransactionFromDateTime: '2012-05-03T00:00:00.000Z'
                  Status: AwaitingAuthorisation
                  StatusUpdateDateTime: '2025-09-10T23:54:03.458Z'
                  CreationDateTime: '2025-09-10T23:54:03.458Z'
                  ConsentId: aac_68c20f9b1bb02300231affaa
                Risk:
                  EndUserAppName: Gorgeous generate
                  EndUserAppVersion: App Version3.0
                  PaymentContextCode: EcommerceServices
                  MerchantName: Padberg, Gusikowski and Fisher
                  MerchantNZBN: '9429040232345'
                  MerchantCategoryCode: '7864'
                  MerchantCustomerIdentification: '818979620026'
                  GeoLocation:
                    Latitude: '-59.9815'
                    Longitude: '99.7834'
                  DeliveryAddress:
                    AddressType: DeliveryTo
                    AddressLine:
                      - 188 Wolf Meadows
                    StreetName: Leola Plaza
                    BuildingNumber: '928'
                    PostCode: '0124'
                    TownName: Minnetonka
                    CountrySubDivision: Mabelle Corner
                    Country: FO
                Links:
                  Self: >-
                    https://api-nomatls.apicentre.middleware.co.nz/open-banking-nz/v2.3/account-access-consents/aac_68c20f9b1bb02300231affaa
                Meta: {}
      tags:
        - 04 - PNZ Consents
        - 04.1 - Create Consent
      security:
        - BearerAuth: []
      description: >+
        This request allows a Third Party to create an account-access-consents
        resource.


        **Preconditions**:


        - 04.1.1 - Retrieve Client Credentials Token.
            

        **Troubleshooting**:


        - The most likely cause of errors is that preconditions have not been
        met.

        - Another source of errors is that the access token specified in the
        Authorization header has expired. Use 04.1.1 - Retrieve Client
        Credentials Token again to obtain another access token.

        - Another source of errors could be any changes you might have made to
        the request body or other variable values.

      requestBody:
        content:
          application/json:
            schema:
              type: object
            example: |-
              {
                "Data": {
                  "Consent": {
                    "TransactionToDateTime": "2050-05-08T00:00:00-00:00",
                    "ExpirationDateTime": "{{t_expDate}}",
                    "Permissions": [
                      "ReadAccountsDetail",
                      "ReadBalances",
                      "ReadBeneficiariesDetail",
                      "ReadDirectDebits",
                      "ReadParty",
                      "ReadPartyAuthUser",
                      "ReadOffers",
                      "ReadScheduledPaymentsDetail",
                      "ReadStandingOrdersDetail",
                      "ReadStatementsBasic",
                      "ReadStatementsDetail",
                      "ReadTransactionsDetail",
                      "ReadTransactionsCredits",
                      "ReadTransactionsDebits"
                    ],
                    "TransactionFromDateTime": "2012-05-03T00:00:00-00:00"
                  }
                },
                "Risk": {
                  "EndUserAppName": ""{{$randomProductAdjective}}" "{{$randomBsBuzz}}"",
                  "EndUserAppVersion": "App Version3.0",
                  "PaymentContextCode": "EcommerceServices",
                  "MerchantName": "{{$randomCompanyName}}",
                  "MerchantNZBN": "94290"{{$randomCreditCardMask}}""{{$randomCreditCardMask}}"",
                  "MerchantCategoryCode": "{{$randomCreditCardMask}}",
                  "MerchantCustomerIdentification": ""{{$randomCreditCardMask}}""{{$randomCreditCardMask}}""{{$randomCreditCardMask}}"",
                  "GeoLocation": {
                    "Latitude": "{{$randomLatitude}}",
                    "Longitude": "{{$randomLongitude}}"
                  },
                  "DeliveryAddress": {
                    "AddressType": "DeliveryTo",
                    "AddressLine": [
                      "{{$randomStreetAddress}}"
                    ],
                    "StreetName": "{{$randomStreetName}}",
                    "BuildingNumber": "{{$randomInt}}",
                    "PostCode": "{{$randomCreditCardMask}}",
                    "TownName": "{{$randomCity}}",
                    "CountrySubDivision": "{{$randomStreetName}}",
                    "Country": "{{$randomCountryCode}}"
                  }
                }
              }
    parameters:
      - name: e_apiVersion
        in: path
        required: true
        schema:
          type: string
        example: v2.3
  /open-banking-nz/{e_apiVersion}/domestic-payment-consents:
    post:
      summary: 04.1.2B - Create Domestic Payment Consent
      parameters:
        - name: x-idempotency-key
          in: header
          schema:
            type: string
          example: '{{$guid}}'
        - name: x-fapi-interaction-id
          in: header
          schema:
            type: string
          example: '{{$guid}}'
      responses:
        '201':
          description: Example
          headers:
            x-fapi-interaction-id:
              schema:
                type: string
              example: f75d8f9f-2785-4bc4-a234-0178c34b440b
            location:
              schema:
                type: string
              example: >-
                https://api-nomatls.apicentre.middleware.co.nz/open-banking-nz/v2.3/domestic-payment-consents/dpc_68c20fa01bb02300231affac
            Content-Length:
              schema:
                type: integer
              example: 1521
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Consent:
                        type: object
                        properties:
                          InstructedAmount:
                            type: object
                            properties:
                              Amount:
                                type: string
                              Currency:
                                type: string
                          InstructionIdentification:
                            type: string
                          RemittanceInformation:
                            type: object
                            properties:
                              Reference:
                                type: object
                                properties:
                                  CreditorReference:
                                    type: object
                                    properties:
                                      Reference:
                                        type: string
                                      Particulars:
                                        type: string
                                      Code:
                                        type: string
                                        format: utc-millisec
                                  CreditorName:
                                    type: string
                          CreditorAccount:
                            type: object
                            properties:
                              Identification:
                                type: string
                              SchemeName:
                                type: string
                              SecondaryIdentification:
                                type: string
                              Name:
                                type: string
                          DebtorAccountRelease:
                            type: boolean
                          EndToEndIdentification:
                            type: string
                          CreditorAgent:
                            type: object
                            properties:
                              Identification:
                                type: string
                              SchemeName:
                                type: string
                      Status:
                        type: string
                      StatusUpdateDateTime:
                        type: string
                        format: date-time
                      CreationDateTime:
                        type: string
                        format: date-time
                      ConsentId:
                        type: string
                  Risk:
                    type: object
                    properties:
                      EndUserAppName:
                        type: string
                      EndUserAppVersion:
                        type: string
                      PaymentContextCode:
                        type: string
                      MerchantName:
                        type: string
                      MerchantNZBN:
                        type: string
                        format: utc-millisec
                      MerchantCategoryCode:
                        type: string
                        format: utc-millisec
                      MerchantCustomerIdentification:
                        type: string
                        format: utc-millisec
                      GeoLocation:
                        type: object
                        properties:
                          Latitude:
                            type: string
                          Longitude:
                            type: string
                      DeliveryAddress:
                        type: object
                        properties:
                          AddressType:
                            type: string
                          AddressLine:
                            type: array
                            items:
                              type: string
                          StreetName:
                            type: string
                          BuildingNumber:
                            type: string
                            format: utc-millisec
                          PostCode:
                            type: string
                            format: utc-millisec
                          TownName:
                            type: string
                          CountrySubDivision:
                            type: string
                          Country:
                            type: string
                  Links:
                    type: object
                    properties:
                      Self:
                        type: string
                        format: uri
                  Meta:
                    type: object
              example:
                Data:
                  Consent:
                    InstructedAmount:
                      Amount: '0.01'
                      Currency: NZD
                    InstructionIdentification: 207ba8b9-f280-4a4b-8675-3b799920d419
                    RemittanceInformation:
                      Reference:
                        CreditorReference:
                          Reference: withdrawal
                          Particulars: Brian
                          Code: '6104'
                        CreditorName: Destini
                    CreditorAccount:
                      Identification: 99-6541-0024970-00
                      SchemeName: BECSElectronicCredit
                      SecondaryIdentification: MD6897YM488682EG1G958152
                      Name: Personal Loan Account
                    DebtorAccountRelease: true
                    EndToEndIdentification: 332296f1-b568-4db0-98fb-77dad0010b65
                    CreditorAgent:
                      Identification: PVPETDK1871
                      SchemeName: BICFI
                  Status: AwaitingAuthorisation
                  StatusUpdateDateTime: '2025-09-10T23:54:08.147Z'
                  CreationDateTime: '2025-09-10T23:54:08.147Z'
                  ConsentId: dpc_68c20fa01bb02300231affac
                Risk:
                  EndUserAppName: Practical deliver
                  EndUserAppVersion: App Version3.0
                  PaymentContextCode: EcommerceServices
                  MerchantName: Mraz, Fisher and Klein
                  MerchantNZBN: '9429004021734'
                  MerchantCategoryCode: '3319'
                  MerchantCustomerIdentification: '377774129974'
                  GeoLocation:
                    Latitude: '71.6812'
                    Longitude: '173.9204'
                  DeliveryAddress:
                    AddressType: DeliveryTo
                    AddressLine:
                      - 7834 Lily Gardens
                    StreetName: Haley Square
                    BuildingNumber: '31'
                    PostCode: '0456'
                    TownName: West Justicestad
                    CountrySubDivision: Kuvalis Wells
                    Country: MO
                Links:
                  Self: >-
                    https://api-nomatls.apicentre.middleware.co.nz/open-banking-nz/v2.3/domestic-payment-consents/dpc_68c20fa01bb02300231affac
                Meta: {}
      tags:
        - 04 - PNZ Consents
        - 04.1 - Create Consent
      security:
        - BearerAuth: []
      description: >+
        This request allows a Third Party to create an domestic-payment-consents
        resource.


        **Preconditions**:


        - 04.1.1 - Retrieve Client Credentials Token.
            

        **Troubleshooting**:


        - The most likely cause of errors is that preconditions have not been
        met.

        - Another source of errors is that the access token specified in the
        Authorization header has expired. Use 04.1.1 - Retrieve Client
        Credentials Token again to obtain another access token.

        - Another source of errors might be any changes you might have made to
        the request body or other variable values.

      requestBody:
        content:
          application/json:
            schema:
              type: object
            example: |-
              {
                "Data": {
                  "Consent": {
                    "InstructedAmount": {
                      "Amount": "0.01",
                      "Currency": "NZD"
                    },
                    "InstructionIdentification": "{{$guid}}",
                    "RemittanceInformation": {
                      "Reference": {
                        "CreditorReference": {
                          "Reference": "{{$randomTransactionType}}",
                          "Particulars": "{{$randomFirstName}}",
                          "Code": "{{$randomCreditCardMask}}"
                        },
                        "CreditorName": "{{$randomFirstName}}"
                      }
                    },
                    "CreditorAccount": {
                      "Identification": "99-"{{$randomCreditCardMask}}"-002"{{$randomCreditCardMask}}"-00",
                      "SchemeName": "BECSElectronicCredit",
                      "SecondaryIdentification": "{{$randomBankAccountIban}}",
                      "Name": "{{$randomBankAccountName}}"
                    },
                    "DebtorAccountRelease": true,
                    "EndToEndIdentification": "{{$guid}}",
                    "CreditorAgent": {
                      "Identification": "{{$randomBankAccountBic}}",
                      "SchemeName": "BICFI"
                    }
                  }
                },
                "Risk": {
                  "EndUserAppName": ""{{$randomProductAdjective}}" "{{$randomBsBuzz}}"",
                  "EndUserAppVersion": "App Version3.0",
                  "PaymentContextCode": "EcommerceServices",
                  "MerchantName": "{{$randomCompanyName}}",
                  "MerchantNZBN": "94290"{{$randomCreditCardMask}}""{{$randomCreditCardMask}}"",
                  "MerchantCategoryCode": "{{$randomCreditCardMask}}",
                  "MerchantCustomerIdentification": ""{{$randomCreditCardMask}}""{{$randomCreditCardMask}}""{{$randomCreditCardMask}}"",
                  "GeoLocation": {
                    "Latitude": "{{$randomLatitude}}",
                    "Longitude": "{{$randomLongitude}}"
                  },
                  "DeliveryAddress": {
                    "AddressType": "DeliveryTo",
                    "AddressLine": [
                      "{{$randomStreetAddress}}"
                    ],
                    "StreetName": "{{$randomStreetName}}",
                    "BuildingNumber": "{{$randomInt}}",
                    "PostCode": "{{$randomCreditCardMask}}",
                    "TownName": "{{$randomCity}}",
                    "CountrySubDivision": "{{$randomStreetName}}",
                    "Country": "{{$randomCountryCode}}"
                  }
                }
              }
    parameters:
      - name: e_apiVersion
        in: path
        required: true
        schema:
          type: string
        example: v2.3
  /open-banking-nz/{e_apiVersion}/enduring-payment-consents:
    post:
      summary: 04.1.2C - Create Enduring Payment Consent
      parameters:
        - name: x-idempotency-key
          in: header
          schema:
            type: string
          example: '{{t_idempotencyKey}}'
      responses:
        '201':
          description: Example
          headers:
            x-fapi-interaction-id:
              schema:
                type: string
              example: 2b0f8cc9-a0cb-4c5b-a6c3-375ee31ba281
            location:
              schema:
                type: string
              example: >-
                https://api-nomatls.apicentre.middleware.co.nz/open-banking-nz/v2.3/enduring-payment-consents/epc_68c20fa30169ea0023b4ce38
            Content-Length:
              schema:
                type: integer
              example: 1557
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Consent:
                        type: object
                        properties:
                          TotalCount:
                            type: integer
                          TotalAmount:
                            type: object
                            properties:
                              Currency:
                                type: string
                              Amount:
                                type: string
                                format: utc-millisec
                          DebtorAccount:
                            type: object
                            properties:
                              Identification:
                                type: string
                              SchemeName:
                                type: string
                              Name:
                                type: string
                              SecondaryIdentification:
                                type: string
                          DebtorAccountRelease:
                            type: boolean
                          Frequency:
                            type: object
                            properties:
                              TotalAmount:
                                type: object
                                properties:
                                  Currency:
                                    type: string
                                  Amount:
                                    type: string
                                    format: utc-millisec
                              Period:
                                type: string
                              TotalCount:
                                type: integer
                          MaximumAmount:
                            type: object
                            properties:
                              Currency:
                                type: string
                              Amount:
                                type: string
                                format: utc-millisec
                          CreditorAccount:
                            type: array
                            items:
                              type: object
                              properties:
                                Identification:
                                  type: string
                                SchemeName:
                                  type: string
                                SecondaryIdentification:
                                  type: string
                                Name:
                                  type: string
                          FromDateTime:
                            type: string
                            format: date-time
                      Status:
                        type: string
                      StatusUpdateDateTime:
                        type: string
                        format: date-time
                      CreationDateTime:
                        type: string
                        format: date-time
                      ConsentId:
                        type: string
                  Risk:
                    type: object
                    properties:
                      EndUserAppName:
                        type: string
                      EndUserAppVersion:
                        type: string
                      PaymentContextCode:
                        type: string
                      MerchantName:
                        type: string
                      MerchantNZBN:
                        type: string
                        format: utc-millisec
                      MerchantCategoryCode:
                        type: string
                        format: utc-millisec
                      MerchantCustomerIdentification:
                        type: string
                        format: utc-millisec
                      GeoLocation:
                        type: object
                        properties:
                          Latitude:
                            type: string
                          Longitude:
                            type: string
                      DeliveryAddress:
                        type: object
                        properties:
                          AddressType:
                            type: string
                          AddressLine:
                            type: array
                            items:
                              type: string
                          StreetName:
                            type: string
                          BuildingNumber:
                            type: string
                            format: color
                          PostCode:
                            type: string
                            format: utc-millisec
                          TownName:
                            type: string
                          CountrySubDivision:
                            type: string
                          Country:
                            type: string
                  Links:
                    type: object
                    properties:
                      Self:
                        type: string
                        format: uri
                  Meta:
                    type: object
              example:
                Data:
                  Consent:
                    TotalCount: 10
                    TotalAmount:
                      Currency: NZD
                      Amount: '100.00'
                    DebtorAccount:
                      Identification: 99-1348-3607054-00
                      SchemeName: BECSElectronicCredit
                      Name: Checking Account
                      SecondaryIdentification: KW82JFFS1Y18846939023776482D95
                    DebtorAccountRelease: true
                    Frequency:
                      TotalAmount:
                        Currency: NZD
                        Amount: '100.00'
                      Period: Daily
                      TotalCount: 4
                    MaximumAmount:
                      Currency: NZD
                      Amount: '50.00'
                    CreditorAccount:
                      - Identification: 99-4714-0029306-00
                        SchemeName: BECSElectronicCredit
                        SecondaryIdentification: EE323774550607050728
                        Name: Auto Loan Account
                    FromDateTime: '2017-04-05T10:43:07.000Z'
                  Status: AwaitingAuthorisation
                  StatusUpdateDateTime: '2025-09-10T23:54:11.337Z'
                  CreationDateTime: '2025-09-10T23:54:11.337Z'
                  ConsentId: epc_68c20fa30169ea0023b4ce38
                Risk:
                  EndUserAppName: Gorgeous monetize
                  EndUserAppVersion: App Version3.0
                  PaymentContextCode: EcommerceServices
                  MerchantName: Shields, Ratke and Dickens
                  MerchantNZBN: '9429088348139'
                  MerchantCategoryCode: '6339'
                  MerchantCustomerIdentification: '065014171017'
                  GeoLocation:
                    Latitude: '77.6748'
                    Longitude: '33.7250'
                  DeliveryAddress:
                    AddressType: DeliveryTo
                    AddressLine:
                      - 86083 Marvin Vista
                    StreetName: Cecilia Turnpike
                    BuildingNumber: '963'
                    PostCode: '2547'
                    TownName: Lake Kieramouth
                    CountrySubDivision: Gislason Shoals
                    Country: TG
                Links:
                  Self: >-
                    https://api-nomatls.apicentre.middleware.co.nz/open-banking-nz/v2.3/enduring-payment-consents/epc_68c20fa30169ea0023b4ce38
                Meta: {}
      tags:
        - 04 - PNZ Consents
        - 04.1 - Create Consent
      security:
        - BearerAuth: []
      description: >+
        This request allows a Third Party to create an enduring-payment-consents
        resource.


        **Preconditions**:


        - 04.1.1 - Retrieve Client Credentials Token.
            

        **Troubleshooting**:


        - The most likely cause of errors is that preconditions have not been
        met.

        - Another source of errors is that the access token specified in the
        Authorization header has expired. Use 04.1.1 - Retrieve Client
        Credentials Token again to obtain another access token.

        - Another source of errors might be any changes you might have made to
        the request body or other variable values.

      requestBody:
        content:
          application/json:
            schema:
              type: object
            example: |-
              {
                "Data": {
                  "Consent": {
                    "TotalCount": 10,
                    "TotalAmount": {
                      "Currency": "NZD",
                      "Amount": "100.00"
                    },
                    "DebtorAccount": {
                      "Identification": "{{t_debtorAccountIdenfication}}",
                      "SchemeName": "BECSElectronicCredit",
                      "Name": "{{$randomBankAccountName}}",
                      "SecondaryIdentification": "{{$randomBankAccountIban}}"
                    },
                    "DebtorAccountRelease": true,
                    "Frequency": {
                      "TotalAmount": {
                        "Currency": "NZD",
                        "Amount": "100.00"
                      },
                      "Period": "Daily",
                      "TotalCount": 4
                    },
                    "MaximumAmount": {
                      "Currency": "NZD",
                      "Amount": "50.00"
                    },
                    "CreditorAccount": [
                      {
                        "Identification": "99-"{{$randomCreditCardMask}}"-002"{{$randomCreditCardMask}}"-00",
                        "SchemeName": "BECSElectronicCredit",
                        "SecondaryIdentification": "{{$randomBankAccountIban}}",
                        "Name": "{{$randomBankAccountName}}"
                      }
                    ],
                    "FromDateTime": "2017-04-05T10:43:07+00:00"
                  }
                },
                "Risk": {
                  "EndUserAppName": ""{{$randomProductAdjective}}" "{{$randomBsBuzz}}"",
                  "EndUserAppVersion": "App Version3.0",
                  "PaymentContextCode": "EcommerceServices",
                  "MerchantName": "{{$randomCompanyName}}",
                  "MerchantNZBN": "94290"{{$randomCreditCardMask}}""{{$randomCreditCardMask}}"",
                  "MerchantCategoryCode": "{{$randomCreditCardMask}}",
                  "MerchantCustomerIdentification": ""{{$randomCreditCardMask}}""{{$randomCreditCardMask}}""{{$randomCreditCardMask}}"",
                  "GeoLocation": {
                    "Latitude": "{{$randomLatitude}}",
                    "Longitude": "{{$randomLongitude}}"
                  },
                  "DeliveryAddress": {
                    "AddressType": "DeliveryTo",
                    "AddressLine": [
                      "{{$randomStreetAddress}}"
                    ],
                    "StreetName": "{{$randomStreetName}}",
                    "BuildingNumber": "{{$randomInt}}",
                    "PostCode": "{{$randomCreditCardMask}}",
                    "TownName": "{{$randomCity}}",
                    "CountrySubDivision": "{{$randomStreetName}}",
                    "Country": "{{$randomCountryCode}}"
                  }
                }
              }
    parameters:
      - name: e_apiVersion
        in: path
        required: true
        schema:
          type: string
        example: v2.3
  /open-banking-nz/{e_apiVersion}/account-access-consents/{t_consentId}:
    get:
      summary: 04.2.1.1 - Get Account Access Consent
      responses: {}
      tags:
        - 04 - PNZ Consents
        - 04.2 - Manage Consent
        - 04.2.1 - Account Access Consent
      security:
        - BearerAuth: []
      description: >+
        This request allows a Third Party to retreive a specific
        account-access-consent, as long as they created it.


        **Preconditions**:


        04.1.2A - Create Account Access Consent


        **Troubleshooting**:


        - The most likely cause of errors is that preconditions have not been
        met.

        - Another source of errors is that the access token specified in the
        Authorization header has expired. Use 04.1.1 - Retrieve Client
        Credentials Token again to obtain another access token.

        - Another source of errors could be any changes you might have made to
        other variable values.

    parameters:
      - name: e_apiVersion
        in: path
        required: true
        schema:
          type: string
        example: v2.3
      - name: t_consentId
        in: path
        required: true
        schema:
          type: string
        example: '{{t_consentId}}'
    delete:
      summary: 04.2.1.2 - Delete Account Access Consent
      responses: {}
      tags:
        - 04 - PNZ Consents
        - 04.2 - Manage Consent
        - 04.2.1 - Account Access Consent
      security:
        - BearerAuth: []
      description: >+
        This request allows a Third Party to delete a specific
        account-access-consent, as long as they created it.


        **Preconditions**:


        04.1.2A - Create Account Access Consent


        **Troubleshooting**:


        - The most likely cause of errors is that preconditions have not been
        met.

        - Another source of errors is that the access token specified in the
        Authorization header has expired. Use 04.1.1 - Retrieve Client
        Credentials Token again to obtain another access token.

        - Another source of errors could be any changes you might have made to
        other variable values.

  /open-banking-nz/{e_apiVersion}/domestic-payment-consents/{t_consentId}:
    get:
      summary: 04.2.2.1 - Get Domestic Payment Consent
      responses: {}
      tags:
        - 04 - PNZ Consents
        - 04.2 - Manage Consent
        - 04.2.2 - Domestic Payment Consent
      security:
        - BearerAuth: []
      description: >+
        This request allows a Third Party to retreive a specific
        domestic-payment-consent, as long as they created it.


        **Preconditions**:


        04.1.2B - Create Domestic Payment Consent


        **Troubleshooting**:


        - The most likely cause of errors is that preconditions have not been
        met.

        - Another source of errors is that the access token specified in the
        Authorization header has expired. Use 04.1.1 - Retrieve Client
        Credentials Token again to obtain another access token.

        - Another source of errors could be any changes you might have made to
        other variable values.

    parameters:
      - name: e_apiVersion
        in: path
        required: true
        schema:
          type: string
        example: v2.3
      - name: t_consentId
        in: path
        required: true
        schema:
          type: string
        example: '{{t_consentId}}'
  /open-banking-nz/{e_apiVersion}/enduring-payment-consents/{t_consentId}:
    get:
      summary: 04.2.3.1 - Get Enduring Payment Consent
      responses: {}
      tags:
        - 04 - PNZ Consents
        - 04.2 - Manage Consent
        - 04.2.3 - Enduring Payment Consent
      security:
        - BearerAuth: []
      description: >+
        This request allows a Third Party to retreive a specific
        enduring-payment-consent, as long as they created it.


        **Preconditions**:


        04.1.2C - Create Enduring Payment Consent


        **Troubleshooting**:


        - The most likely cause of errors is that preconditions have not been
        met.

        - Another source of errors is that the access token specified in the
        Authorization header has expired. Use 04.1.1 - Retrieve Client
        Credentials Token again to obtain another access token.

        - Another source of errors could be any changes you might have made to
        other variable values.

    parameters:
      - name: e_apiVersion
        in: path
        required: true
        schema:
          type: string
        example: v2.3
      - name: t_consentId
        in: path
        required: true
        schema:
          type: string
        example: '{{t_consentId}}'
    delete:
      summary: 04.2.3.2 - Delete Enduring Payment Consent
      responses: {}
      tags:
        - 04 - PNZ Consents
        - 04.2 - Manage Consent
        - 04.2.3 - Enduring Payment Consent
      security:
        - BearerAuth: []
      description: >+
        This request allows a Third Party to delete a specific
        enduring-payment-consent, as long as they created it.


        **Preconditions**:


        04.1.2C - Create Enduring Payment Consent


        **Troubleshooting**:


        - The most likely cause of errors is that preconditions have not been
        met.

        - Another source of errors is that the access token specified in the
        Authorization header has expired. Use 04.1.1 - Retrieve Client
        Credentials Token again to obtain another access token.

        - Another source of errors could be any changes you might have made to
        other variable values.

  /oauth/v2.0/authorize:
    get:
      summary: 05.1.1 - Submit Authorization Request
      parameters:
        - name: scope
          in: query
          schema:
            type: string
          example: '{{e_scope}}'
        - name: response_type
          in: query
          schema:
            type: string
          example: code id_token
        - name: client_id
          in: query
          schema:
            type: string
          example: '{{e_clientId}}'
        - name: redirect_uri
          in: query
          schema:
            type: string
          example: '{{e_thirdPartyRedirectUri}}'
        - name: state
          in: query
          schema:
            type: string
          example: '{{t_state}}'
        - name: nonce
          in: query
          schema:
            type: string
          example: '{{t_nonce}}'
        - name: request
          in: query
          schema:
            type: string
          example: '{{t_generatedJWT}}'
      responses:
        '302':
          description: Example
          headers:
            x-fapi-interaction-id:
              schema:
                type: string
              example: 1ea6441b-2d21-4f96-b3b1-e7745f0a1d6d
            Location:
              schema:
                type: string
              example: >-
                https://obabank.glueware.dev/auth/login?oba_request=eyJhbGciOiJQUzUxMiIsInR5cCI6IkpXVCIsImtpZCI6ImZkYzAzZmJlLWExOTAtNDFlZS1iNDk2LWE1ODRmM2Y0YTZkMiJ9.eyJoeWJyaWRfcmVxX2lkIjoiYTdhMjRiZWItNjE5NS00YTI5LTliYmEtZGQ2ODFlODE5YjEzLWFhY182OGMyMGY5YjFiYjAyMzAwMjMxYWZmYWEiLCJpYXQiOjE3NTc1NDg0NDMsImV4cCI6MTc1NzU1MDI0MywiaXNzIjoiaHR0cHM6Ly9hcGktbm9tYXRscy5hcGljZW50cmUubWlkZGxld2FyZS5jby5uei8iLCJqdGkiOiJhNmI3NGIxNy01ZDBlLTQwM2EtODlmOC03ZDFmM2RmN2IzOWYifQ.a6FmPtMSHDPcQndDPTajT4unNPEC48t2R18Psep1XYD_m-UN504MKzhfZW9E40pAPGU_FRYbRXdo06deLTsTl9XxaXLLMk7exNpdbriLmCX_Lk7m8BNBSlMLRt5waHzgvgNt1gosHFiEhIyI10YkL3t39rSJCtsBBhzytRJrr4zpU6wd_REGDITRLC5G_B80olxfItWeSgZgMo8BhJ43_qn_sOzNORKlwLXWNEDGsOIdlcvPQZcGUrcCgq4GSbWuxETXOfu14EE-4aVq5zz71u_xdjsECOa-7SnVOx75YaHmfoX1B5uEvx-m2O-846r_vXzJwzNzOIHwqmIJKKe_6c2CzHbJOZBtWpIcYgv4pei7wPp5L9vzAoSBEi43qj9sXG3Lg6Flb_-z_BRB5T5YaShsJjDe9QQVa-4GLUBvipwoW-2UQ25478ZC2YJToyVd078u-9AfwOCkza2AwDRcorC9ptVIeL0Vek_vHuPXHwrsMsvfE2vKd_LcRmkrxl-SvoUUnHj0QcoaOfcwf_jTK3PEmur4PM4V8_IqWA0KTVFS9012Cj1vxT4VBYFtw1fRnyN9YBcrIWOXqvNSyHsD5sPlj1YRaYdgkODwD0UhTm0l0SVGl-cuxEciI_M8MDqUQo0HuFq2ZiGYYdnmJapCVF1bWLewvbNv0pY4adpY6Fc
            Content-Length:
              schema:
                type: integer
              example: 0
      tags:
        - 05 - OIDC Authorization and Authentication
        - 05.1 - Hybrid Flow
      description: >+
        This step inititates an OpenID Connect Hybrid Flow for the most recently
        created consents resource.


        This step, along with the othe steps in this folder will result in the
        issuance of an id_token and an authorization-code. The steps 05.1.2
        through 05.1.5 explicitly follow redirects and mimic the user
        authenticating/consenting via the API Provider's consent journey.


        **Preconditions**


        - One of the 04.1.2A, B or C steps to create a consents resource
            

        **Troubleshooting**:


        - The OpenID Connect standard requires most errors be returned in the
        location header. Check the header (or console) for details of any error
        responses.

        - The most likely cause of errors is that preconditions have not been
        met.

        - Another likely cause is that you haven't disabled the 'Automatically
        follow redirects' setting in Postman as described in the introductory
        documentation for this postman collection.
            
        - Another likely cause of errors is that the environment variables are
        not properly set.
            
        - Another possible cause of errors are out of date variable values.
        Create another consent and try again.
            
        - Another source of errors could be any changes you might have made to
        other variable values.

  /:
    get:
      summary: 05.1.2 - Follow Authorize Redirect to Login Page
      responses: {}
      tags:
        - 05 - OIDC Authorization and Authentication
        - 05.1 - Hybrid Flow
      description: >-
        This request is following the redirect which was returned from the
        previous GET /authorize request. The redirect is to the API Provider's
        login page. In the browser, this redirect happens automatically, and
        your application won't need to worry about this. However, in Postman, we
        must explicitly follow the redirect because we want to proceed to the
        login page.


        **Preconditions**


        - 05.1.1 - Submit Authorization Request
            

        **Troubleshooting**:


        - The most likely cause of errors is that preconditions have not been
        met.

        - Another likely cause of errors are out of date variable values. Create
        another consent and try the Hybrid Flow again from the beginning.

        - Another source of errors could be any changes you might have made to
        other variable values.
    post:
      summary: 05.1.3 - Customer Login
      responses: {}
      tags:
        - 05 - OIDC Authorization and Authentication
        - 05.1 - Hybrid Flow
      description: >-
        This request mimics the user authenticating at the model API Provider.
        Your application doesn't need to worry about this step because it is the
        responsiblity of the API Provider.


        **Preconditions**


        - `05.1.2 - Follow Authorize Redirect to Login Page`

        - `e_username` must be set to one of the usernames returned from `03.1 -
        Get Customers and Accounts` (e.g. "user02" or "user01")

        - `e_password` must be set to "password"
            

        **Troubleshooting**:


        - The most likely cause of errors is that preconditions have not been
        met.

        - Another likely cause of errors are out of date variable values. Create
        another consent and try the Hybrid Flow again from the beginning.

        - Another source of errors could be any changes you might have made to
        other variable values.
  /oauth/v2.0/bc-authorize:
    post:
      summary: 05.2.1 - Submit Backchannel Authorization Request
      responses:
        '200':
          description: Example
          headers:
            x-fapi-interaction-id:
              schema:
                type: string
              example: 3d80fbeb-3ad7-4a32-b238-9b6db205b61f
            Content-Length:
              schema:
                type: integer
              example: 113
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth_req_id:
                    type: string
                  expires_in:
                    type: integer
                  interval:
                    type: integer
              example:
                auth_req_id: >-
                  d2ef9ef7df3942e2b8654d468c853b2ac50fa924da90484fac5796032067e996
                expires_in: 3599
                interval: 2
      tags:
        - 05 - OIDC Authorization and Authentication
        - 05.2 - Decoupled Flow
      description: >+
        This step initiates an OpenID Connect Decoupled / CIBA Flow for the most
        recently created consents resource.


        This step, along with the other steps in this folder will result in the
        issuance of an id_token and an authorization-code. The steps 05.2.2
        emulates the user approving/rejecting the consent via the API Provider's
        decoupled consent experience.


        **Preconditions**


        - One of the 04.1.2A, B or C steps to create a consents resource
            

        **Troubleshooting**:


        - The most likely cause of errors is that preconditions have not been
        met.
            
        - Another likely cause of errors is that the environment variables are
        not properly set.
            
        - Another likely cause of errors are out of date variable values. Create
        another consent and try again.

        - Another source of errors could be any changes you might have made to
        other variable values.

  /middleware-nz-sandbox/v2.0/data/mutation/approve-ciba-consent/{AuthRequestId}:
    put:
      summary: 05.2.2 - Approve Authorization Request (Decoupled)
      responses: {}
      tags:
        - 05 - OIDC Authorization and Authentication
        - 05.2 - Decoupled Flow
      security:
        - BearerAuth: []
      description: >-
        This step mimics the user approving the consent via the API Provider's
        decoupled consent journey.


        If the consent is an account-access-consents then all accounts are
        selected.


        If the consent is one of the payment-consents then only the first
        account is selected.


        **Preconditions**


        - 05.2.1 - Submit Backchannel Authorization Request
            

        **Troubleshooting**:


        - The most likely cause of errors is that preconditions have not been
        met.

        - Another likely cause of errors are out of date variable values. Create
        another consent and try again.

        - Another source of errors could be any changes you might have made to
        other variable values.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accounts:
                  type: string
            example:
              accounts: '{{t_customerAccountIds}}'
    parameters:
      - name: AuthRequestId
        in: path
        required: true
        schema:
          type: string
        example: '{{t_authReqId}}'
  /oauth/v2.0/par:
    post:
      summary: 05.3.1 - Submit Pushed Authorization Request
      responses:
        '201':
          description: Example
          headers:
            x-fapi-interaction-id:
              schema:
                type: string
              example: f7962f29-5ae1-44f8-862b-7cfea9f62b0d
            Content-Length:
              schema:
                type: integer
              example: 96
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_uri:
                    type: string
                    format: uri
                  expires_in:
                    type: integer
              example:
                request_uri: urn:ietf:params:oauth:request_uri:_wNKvu4HTPFWlNLSb0spgYzo_eaF
                expires_in: 90
      tags:
        - 05 - OIDC Authorization and Authentication
        - 05.3 - Authorization Code Flow
      description: >+
        This step obtains a request_uri from the API Provider for the most
        recently created consents resource.


        **Preconditions**


        - One of the 04.1.2A, B or C steps to create a consents resource
            

        **Troubleshooting**:


        - The most likely cause of errors is that preconditions have not been
        met.
            
        - Another likely cause of errors are out of date variable values. Create
        another consent and try again.
            
        - Another source of errors could be any changes you might have made to
        other variable values.

  /open-banking-nz/{e_apiVersion}/accounts:
    get:
      summary: 06.1.1 - Retrieve bulk accounts
      responses:
        '200':
          description: Example
          headers:
            x-fapi-interaction-id:
              schema:
                type: string
              example: cef09068-653d-4a0b-8755-7b8d81c51f85
            Content-Length:
              schema:
                type: integer
              example: 1645
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Account:
                        type: array
                        items:
                          type: object
                          properties:
                            AccountId:
                              type: string
                            Currency:
                              type: string
                            Nickname:
                              type: string
                            Description:
                              type: string
                            AccountType:
                              type: string
                            AccountSubType:
                              type: string
                            Account:
                              type: object
                              properties:
                                SchemeName:
                                  type: string
                                Identification:
                                  type: string
                                Name:
                                  type: string
                                SecondaryIdentification:
                                  type: string
                  Links:
                    type: object
                    properties:
                      First:
                        type: string
                        format: uri
                      Self:
                        type: string
                        format: uri
                      Last:
                        type: string
                        format: uri
                  Meta:
                    type: object
                    properties:
                      TotalPages:
                        type: integer
              example:
                Data:
                  Account:
                    - AccountId: OBA-99-1348-3607054-00
                      Currency: NZD
                      Nickname: Cheque Account
                      Description: Cheque Account
                      AccountType: Business
                      AccountSubType: Savings
                      Account:
                        SchemeName: BECSElectronicCredit
                        Identification: 99-1348-3607054-00
                        Name: CurrentAccount
                        SecondaryIdentification: ID2-99-1348-3607054-00
                    - AccountId: OBA-99-1348-3607054-01
                      Currency: NZD
                      Nickname: Cheque Account
                      Description: Cheque Account
                      AccountType: Business
                      AccountSubType: CurrentAccount
                      Account:
                        SchemeName: BECSElectronicCredit
                        Identification: 99-1348-3607054-01
                        Name: CurrentAccount
                        SecondaryIdentification: ID2-99-1348-3607054-01
                    - AccountId: OBA-99-1348-3607054-02
                      Currency: NZD
                      Nickname: Cheque Account
                      Description: Cheque Account
                      AccountType: Business
                      AccountSubType: Loan
                      Account:
                        SchemeName: BECSElectronicCredit
                        Identification: 99-1348-3607054-02
                        Name: CurrentAccount
                        SecondaryIdentification: ID2-99-1348-3607054-02
                    - AccountId: OBA-99-1348-3607054-03
                      Currency: NZD
                      Nickname: Cheque Account
                      Description: Cheque Account
                      AccountType: Business
                      AccountSubType: Savings
                      Account:
                        SchemeName: BECSElectronicCredit
                        Identification: 99-1348-3607054-03
                        Name: CurrentAccount
                        SecondaryIdentification: ID2-99-1348-3607054-03
                Links:
                  First: >-
                    https://api-nomatls.apicentre.middleware.co.nz/open-banking-nz/v2.3/accounts?page=1
                  Self: >-
                    https://api-nomatls.apicentre.middleware.co.nz/open-banking-nz/v2.3/accounts
                  Last: >-
                    https://api-nomatls.apicentre.middleware.co.nz/open-banking-nz/v2.3/accounts?page=1
                Meta:
                  TotalPages: 1
      tags:
        - 06 - PNZ Account Information
        - 06.1 - Account Information Bulk
      security:
        - BearerAuth: []
      description: >+
        This request queries account information about all of the customer
        accounts authorised in the consent.


        **Preconditions**


        - One of the authorisation flows in 04 - OIDC Authentication and
        Authorization
            
        - Permission to access this resource has been granted in the consent. By
        default, this collection grants all permissions.
            

        **Troubleshooting**:


        - The most likely cause of errors is that preconditions have not been
        met.

        - Another likely cause of errors is the access_token has expired. Try
        obtaining a new access token using 08.3 - Refresh Access Token

        - Another possible cause is the consent is no longer active - e.g. it
        may have expired, been revoked or been deleted.

        - Another common source of errors are out of date variable values.
        Create another consent and try one of the authorization flows from the
        beginning.

        - Another source of errors could be any changes you might have made to
        other variable values.

    parameters:
      - name: e_apiVersion
        in: path
        required: true
        schema:
          type: string
        example: v2.3
  /open-banking-nz/{e_apiVersion}/balances:
    get:
      summary: 06.1.2 - Retrieve bulk balances
      responses:
        '200':
          description: Example
          headers:
            x-fapi-interaction-id:
              schema:
                type: string
              example: 454e84f6-6045-446e-8281-c0d64eab80c0
            Content-Length:
              schema:
                type: integer
              example: 1122
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Balance:
                        type: array
                        items:
                          type: object
                          properties:
                            AccountId:
                              type: string
                            Type:
                              type: string
                            Amount:
                              type: object
                              properties:
                                Amount:
                                  type: string
                                Currency:
                                  type: string
                            CreditLine:
                              type: array
                              items: {}
                            DateTime:
                              type: string
                              format: date-time
                            CreditDebitIndicator:
                              type: string
                  Links:
                    type: object
                    properties:
                      First:
                        type: string
                        format: uri
                      Self:
                        type: string
                        format: uri
                      Last:
                        type: string
                        format: uri
                  Meta:
                    type: object
                    properties:
                      TotalPages:
                        type: integer
              example:
                Data:
                  Balance:
                    - AccountId: OBA-99-1348-3607054-00
                      Type: ForwardAvailable
                      Amount:
                        Amount: '19609.70'
                        Currency: NZD
                      CreditLine: []
                      DateTime: '2025-09-10T23:48:38.291Z'
                      CreditDebitIndicator: Credit
                    - AccountId: OBA-99-1348-3607054-01
                      Type: ClosingBooked
                      Amount:
                        Amount: '20000.00'
                        Currency: NZD
                      CreditLine: []
                      DateTime: '2025-09-10T23:48:38.291Z'
                      CreditDebitIndicator: Credit
                    - AccountId: OBA-99-1348-3607054-02
                      Type: ForwardAvailable
                      Amount:
                        Amount: '20000.00'
                        Currency: NZD
                      CreditLine: []
                      DateTime: '2025-09-10T23:48:38.291Z'
                      CreditDebitIndicator: Credit
                    - AccountId: OBA-99-1348-3607054-03
                      Type: ForwardAvailable
                      Amount:
                        Amount: '20000.00'
                        Currency: NZD
                      CreditLine: []
                      DateTime: '2025-09-10T23:48:38.291Z'
                      CreditDebitIndicator: Credit
                Links:
                  First: >-
                    https://api-nomatls.apicentre.middleware.co.nz/open-banking-nz/v2.3/balances?page=1
                  Self: >-
                    https://api-nomatls.apicentre.middleware.co.nz/open-banking-nz/v2.3/balances
                  Last: >-
                    https://api-nomatls.apicentre.middleware.co.nz/open-banking-nz/v2.3/balances?page=1
                Meta:
                  TotalPages: 1
      tags:
        - 06 - PNZ Account Information
        - 06.1 - Account Information Bulk
      security:
        - BearerAuth: []
      description: >+
        This request queries balance information about all of the customer
        accounts authorised in the consent.


        **Preconditions**


        - One of the authorisation flows in 04 - OIDC Authentication and
        Authorization
            
        - Permission to access this resource has been granted in the consent. By
        default, this collection grants all permissions.
            

        **Troubleshooting**:


        - The most likely cause of errors is that preconditions have not been
        met.
            
        - Another likely cause of errors is the access_token has expired. Try
        obtaining a new access token using 08.3 - Refresh Access Token
            
        - Another possible cause is the consent is no longer active - e.g. it
        may have expired, been revoked or been deleted.
            
        - Another common source of errors are out of date variable values.
        Create another consent and try one of the authorization flows from the
        beginning.
            
        - Another source of errors could be any changes you might have made to
        other variable values.

    parameters:
      - name: e_apiVersion
        in: path
        required: true
        schema:
          type: string
        example: v2.3
  /open-banking-nz/{e_apiVersion}/beneficiaries:
    get:
      summary: 06.1.3 - Retrieve bulk beneficiaries
      responses:
        '200':
          description: Example
          headers:
            x-fapi-interaction-id:
              schema:
                type: string
              example: 058d7001-03e7-416c-902c-8678cda98b3a
            Content-Length:
              schema:
                type: integer
              example: 2098
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Beneficiary:
                        type: array
                        items:
                          type: object
                          properties:
                            AccountId:
                              type: string
                            BeneficiaryId:
                              type: string
                            Reference:
                              type: object
                              properties:
                                CreditorName:
                                  type: string
                                DebtorName:
                                  type: string
                                CreditorReference:
                                  type: object
                                  properties:
                                    Particulars:
                                      type: string
                                    Code:
                                      type: string
                                    Reference:
                                      type: string
                                DebtorReference:
                                  type: object
                                  properties:
                                    Particulars:
                                      type: string
                                    Code:
                                      type: string
                                    Reference:
                                      type: string
                            CreditorAgent:
                              type: object
                              properties:
                                SchemeName:
                                  type: string
                                Identification:
                                  type: string
                                Name:
                                  type: string
                                PostalAddress:
                                  type: object
                                  properties:
                                    Country:
                                      type: string
                                    AddressLine:
                                      type: array
                                      items:
                                        type: string
                                    AddressType:
                                      type: string
                                    StreetName:
                                      type: string
                                    BuildingNumber:
                                      type: string
                                    PostCode:
                                      type: string
                                    TownName:
                                      type: string
                                    CountrySubDivision:
                                      type: string
                            CreditorAccount:
                              type: object
                              properties:
                                SchemeName:
                                  type: string
                                Identification:
                                  type: string
                                Name:
                                  type: string
                                SecondaryIdentification:
                                  type: string
                  Links:
                    type: object
                    properties:
                      First:
                        type: string
                        format: uri
                      Self:
                        type: string
                        format: uri
                      Last:
                        type: string
                        format: uri
                  Meta:
                    type: object
                    properties:
                      TotalPages:
                        type: integer
              example:
                Data:
                  Beneficiary:
                    - AccountId: OBA-99-1348-3607054-00
                      BeneficiaryId: c1d975b7-d543-5bf7-8a39-d255301fcbc7
                      Reference:
                        CreditorName: Just A. Creditor
                        DebtorName: A beneficiary debtor
                        CreditorReference:
                          Particulars: CreditorPart
                          Code: CreditorCode
                          Reference: CreditorRef
                        DebtorReference:
                          Particulars: DebtorPart
                          Code: DebtorCode
                          Reference: DebtorRef
                      CreditorAgent:
                        SchemeName: BICFI
                        Identification: ABCXYZ3A
                        Name: A Credit Agent
                        PostalAddress:
                          Country: NZ
                          AddressLine:
                            - AddressLine1
                          AddressType: Business
                          StreetName: StreetName
                          BuildingNumber: BuildingNumber
                          PostCode: PostCode
                          TownName: TownName
                          CountrySubDivision: CountrySubDivision
                      CreditorAccount:
                        SchemeName: BECSElectronicCredit
                        Identification: 99-1234-1234567-99
                        Name: Just A. Creditor
                        SecondaryIdentification: f704aafc2f3552b5a9eae3354126718b
                    - AccountId: OBA-99-1348-3607054-02
                      BeneficiaryId: 78656649-41d6-5529-8426-1b38a672d2f6
                      Reference:
                        CreditorName: Just A. Creditor
                        DebtorName: A beneficiary debtor
                        CreditorReference:
                          Particulars: CreditorPart
                          Code: CreditorCode
                          Reference: CreditorRef
                        DebtorReference:
                          Particulars: DebtorPart
                          Code: DebtorCode
                          Reference: DebtorRef
                      CreditorAgent:
                        SchemeName: BICFI
                        Identification: ABCXYZ3A
                        Name: A Credit Agent
                        PostalAddress:
                          Country: NZ
                          AddressLine:
                            - AddressLine1
                          AddressType: Business
                          StreetName: StreetName
                          BuildingNumber: BuildingNumber
                          PostCode: PostCode
                          TownName: TownName
                          CountrySubDivision: CountrySubDivision
                      CreditorAccount:
                        SchemeName: BECSElectronicCredit
                        Identification: 99-1234-1234567-99
                        Name: Just A. Creditor
                        SecondaryIdentification: 037601abb4e75f15aa5fdf994d8a765d
                Links:
                  First: >-
                    https://api-nomatls.apicentre.middleware.co.nz/open-banking-nz/v2.3/beneficiaries?page=1
                  Self: >-
                    https://api-nomatls.apicentre.middleware.co.nz/open-banking-nz/v2.3/beneficiaries
                  Last: >-
                    https://api-nomatls.apicentre.middleware.co.nz/open-banking-nz/v2.3/beneficiaries?page=1
                Meta:
                  TotalPages: 1
      tags:
        - 06 - PNZ Account Information
        - 06.1 - Account Information Bulk
      security:
        - BearerAuth: []
      description: >+
        This request queries beneficiaries information about all of the customer
        accounts authorised in the consent.


        **Preconditions**


        - One of the authorisation flows in 04 - OIDC Authentication and
        Authorization
            
        - Permission to access this resource has been granted in the consent. By
        default, this collection grants all permissions.
            

        **Troubleshooting**:


        - The most likely cause of errors is that preconditions have not been
        met.
            
        - Another likely cause of errors is the access_token has expired. Try
        obtaining a new access token using 08.3 - Refresh Access Token
            
        - Another possible cause is the consent is no longer active - e.g. it
        may have expired, been revoked or been deleted.
            
        - Another common source of errors are out of date variable values.
        Create another consent and try one of the authorization flows from the
        beginning.
            
        - Another source of errors could be any changes you might have made to
        other variable values.

    parameters:
      - name: e_apiVersion
        in: path
        required: true
        schema:
          type: string
        example: v2.3
  /open-banking-nz/{e_apiVersion}/direct-debits:
    get:
      summary: 06.1.4 - Retrieve bulk direct debits
      responses:
        '200':
          description: Example
          headers:
            x-fapi-interaction-id:
              schema:
                type: string
              example: a809fda8-f547-46b4-b578-2f89ab6f7dce
            Content-Length:
              schema:
                type: integer
              example: 1291
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      DirectDebit:
                        type: array
                        items:
                          type: object
                          properties:
                            AccountId:
                              type: string
                            MandateIdentification:
                              type: string
                            Name:
                              type: string
                            DirectDebitId:
                              type: string
                            DirectDebitStatusCode:
                              type: string
                            PreviousPaymentAmount:
                              type: object
                              properties:
                                Amount:
                                  type: string
                                Currency:
                                  type: string
                            PreviousPaymentDateTime:
                              type: string
                              format: date-time
                  Links:
                    type: object
                    properties:
                      First:
                        type: string
                        format: uri
                      Self:
                        type: string
                        format: uri
                      Last:
                        type: string
                        format: uri
                  Meta:
                    type: object
                    properties:
                      TotalPages:
                        type: integer
              example:
                Data:
                  DirectDebit:
                    - AccountId: OBA-99-1348-3607054-00
                      MandateIdentification: The Mandate Name
                      Name: A. Direct Debit Name
                      DirectDebitId: c1d975b7-d543-5bf7-8a39-d255301fcbc7
                      DirectDebitStatusCode: Active
                      PreviousPaymentAmount:
                        Amount: '72.49'
                        Currency: NZD
                      PreviousPaymentDateTime: '2019-05-05T10:43:07.000Z'
                    - AccountId: OBA-99-1348-3607054-02
                      MandateIdentification: The Mandate Name
                      Name: A. Direct Debit Name
                      DirectDebitId: fa941209-7f17-5858-b89b-881df36be127
                      DirectDebitStatusCode: Inactive
                      PreviousPaymentAmount:
                        Amount: '72.49'
                        Currency: NZD
[...]
